<div class="container">

  <h1 class="page-header">
    Accelerometer
  </h1>

  <pre>{{accel | json}}</pre>


  <ul class="gradient">
    <li ng-repeat="color in gradient"
        ng-class="{active: $index == activeIndex}"
        ng-style="{'background-color':'rgb('+color.r+','+color.g+','+color.b+')'}"
        ng-click="setActive($index)"
    ></li>
  </ul>

  <div class="row">
    <div class="col-xs-6">

      <div class="color-preview" ng-style="css.preview"></div>

    </div>
    <div class="col-xs-6">

      <div class="row">
        <div class="col-xs-5 text-center">
          <span class="badge" ng-style="css.r">
            {{color.r}}
          </span>
        </div>
        <label class="col-xs-7 text-right">
          Red
        </label>
      </div>

      <div class="row">
        <div class="col-xs-5 text-center">
          <span class="badge" ng-style="css.g">
            {{color.g}}
          </span>
        </div>
        <label class="col-xs-7 text-right">
          Green
        </label>
      </div>

      <div class="row">
        <div class="col-xs-5 text-center">
          <span class="badge" ng-style="css.b">
            {{color.b}}
          </span>
        </div>
        <label class="col-xs-7 text-right">
          Blue
        </label>
      </div>


    </div>
  </div>

</div>