@import "../../styles/variables.less";

body.state-prototype {

  div.color-preview {
    min-height: 70px;
    border-radius: 10px;
    border: 1px solid #CCC;

    @media (max-width: @screen-xs-max) {
      margin-bottom: 1em;
    }

  }


  &.state-prototype-accel {
    ul.gradient {
      list-style-type: none;
      padding: 0;
      display: flex;
      align-items: center;
      li {
        overflow: hidden;
        text-align: center;
        line-height: 2;
        flex-grow: 1;
        height: 30px;
        margin-right: 1px;
        &.active {
          height: 50px;
        }
      }
    }
  }

}